/* HERO */
.about-hero {
  .mobile-image {
    min-height: 15rem;
    width: 100%;
    background-image: url("../assets/about/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.35);
    background-size: cover;
    background-blend-mode: overlay;
  }

  h1 {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .content {
    position: relative;
    margin-top: -10%;
    margin-left: -10%;
    margin-bottom: 10%;
    background-color: var(--page-background);
    padding: 4rem 0 0 2rem;
  }

  h2 {
    margin-bottom: 1.5rem;
    line-height: 108%;
  }
}

/* HERITAGE */
.heritage {
  padding-top: clamp(4.75rem, -2.645rem + 31.5522vw, 12.5rem);
  padding-bottom: clamp(7rem, 1.7519rem + 22.3919vw, 12.5rem);

  .accent-rectangle {
    position: absolute;
    top: -10%;
    left: 0;
    margin-bottom: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    p {
      font-weight: 500;
    }
  }
}

/* LEADERS */
.leaders {
  margin-top: clamp(0rem, 6.8397rem + -14.2494vw, 3.5rem);
  margin-bottom: clamp(4.5rem, 1.6939rem + 11.9728vw, 10rem);

  h2 {
    margin-bottom: 3.5rem;
  }

  .leader-cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: clamp(4rem, 5.5102rem + -2.1769vw, 5rem);
  }
}

@media (min-width: 48rem) {
  /* HERO */
  .about-hero {
    .mobile-image {
      min-height: 0;
    }

    .big-screen-image {
      min-height: 45rem;
      background-image: url("../assets/about/tablet/image-hero.jpg");
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.35);
      background-size: cover;
      background-blend-mode: overlay;
    }

    h1 {
      visibility: visible;
      height: auto;
      top: 12.5rem;
      right: 2%;
      color: var(--very-light-grey);
      line-height: 140%;
    }

    .content {
      position: absolute;
      bottom: 0;
      right: -5%;
      max-width: 35.75rem;
      padding: 10rem 3.5rem 0.125rem;
      margin-bottom: 0;

      .accent-rectangle {
        visibility: visible;
        position: absolute;
        top: 5.5rem;
        left: 3.5rem;
        margin-bottom: 0;
      }

      p {
        font-weight: 400;
      }
    }
  }
  .heritage {
    .accent-rectangle {
      visibility: visible;
    }

    h2 {
      margin-bottom: 2.375rem;
    }
  }

  /* LEADERS */
  .leaders {
    .leader-cards {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0.75rem;
    }
  }
}

@media (min-width: 64rem) {
  /* HERO */
  .about-hero {
    .mobile-image {
      min-height: 0;
    }

    .big-screen-image {
      min-height: 45rem;
      width: 39.75rem;
      background-image: url("../assets/about/desktop/image-hero.jpg");
    }

    h1 {
      top: 7rem;
      right: -4%;
      line-height: 80%;
    }

    .content {
      right: 0;
      padding-left: 11.375rem;
      padding-right: 0;
      padding-top: 13.625rem;
      max-width: 39.25rem;

      .accent-rectangle {
        left: 11.375rem;
        top: 10rem;
      }
    }
  }
  /* HERITAGE */
  .heritage {
    .accent-rectangle {
      top: 0;
    }
    .container {
      display: grid;
      grid-template-columns: 1fr 33.75rem;
      align-items: center;
      gap: 7.75rem;
    }

    .heritage-image {
      min-height: 35.5rem;
      background-image: url("../assets/about/desktop/image-heritage.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  /* LEADERS */
  .leaders {
    .container {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      margin-bottom: 0;
    }

    .leader-cards {
      width: 65%;
      column-gap: 2rem;
    }
  }
}
