.contact-hero {
  .mobile-image {
    background-image: url("../assets/contact/mobile/image-hero.jpg");
  }
}

.contact-details {
  .container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  p.bold {
    margin-bottom: 1em;
  }

  .btn--solid {
    padding-left: 0;
  }
}

@media (min-width: 48rem) {
  /* HERO */
  .contact-hero .big-screen-image {
    background-image: url("../assets/contact/tablet/image-hero.jpg");
  }
}

@media (min-width: 64rem) {
  /* HERO */
  .contact-hero .big-screen-image {
    background-image: url("../assets/contact/desktop/image-hero.jpg");
  }
}
