.contact-hero {
  .mobile-image {
    background-image: url("../assets/contact/mobile/image-hero.jpg");
  }
}

.contact-details {
  padding-top: clamp(4.75rem, -2.645rem + 31.5522vw, 12.5rem);
  padding-bottom: clamp(4.75rem, -2.645rem + 31.5522vw, 12.5rem);

  .accent-rectangle {
    position: absolute;
    top: -10%;
    left: 0;
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  p.bold {
    margin-bottom: 1em;
  }

  .btn--solid {
    padding-left: 0;
  }
}

.map {
  margin-bottom: clamp(4.5rem, 1.5344rem + 12.6531vw, 10.3125rem);

  .container {
    width: 100%;
  }

  .map-image {
    background-image: url("../assets/contact/mobile/image-map.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 23rem;
  }
}

@media (min-width: 48rem) {
  /* HERO */
  .contact-hero .big-screen-image {
    background-image: url("../assets/contact/tablet/image-hero.jpg");
  }

  /* Contact Details */
  .contact-details {
    .accent-rectangle {
      visibility: visible;
    }

    h2 {
      margin-bottom: 2.375rem;
    }

    .office-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .map {
    .container {
      width: 85%;
    }

    .map-image {
      background-image: url("../assets/contact/tablet/image-map.png");
      min-height: 35rem;
    }
  }
}

@media (min-width: 64rem) {
  /* HERO */
  .contact-hero .big-screen-image {
    background-image: url("../assets/contact/desktop/image-hero.jpg");
  }

  /* Contact Details */
  .contact-details {
    .accent-rectangle {
      top: -4.5rem;
    }
    .container {
      flex-direction: row;
      justify-content: space-between;
    }

    .office-details {
      display: block;
    }
  }
}
