*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: #1b1d23;
  --dark-grey: #60636d;
  --medium-grey: #7d828f;
  --light-grey: #c8ccd8;
  --very-light-grey: #eeeff4;
  --red: #df5656;
  --white: #fff;

  --page-background: var(--white);

  --text-primary: var(--dark-grey);
  --text-header-primary: var(--very-dark-blue);

  --input-text-placeholder: var(--light-grey);
  --input-text-active: var(--very-dark-blue);
  --input-text-error: var(--red);

  --button-background: var(--very-dark-blue);
  --button-text: var(--white);

  --button-background-hover: var(--dark-grey);
  --button-background-active: var(--light-grey);

  --number-button-background-hover: var(--very-light-grey);
  --number-button-background-active: var(--very-dark-blue);

  --container-max-width: 1110px;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1.125rem;
  line-height: 133.333%;
  letter-spacing: 0;
  color: var(--text-primary);
  background-color: var(--page-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--text-header-primary);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* UTILITIES */
.heading-xl {
  font-size: clamp(7.5rem, -10.7456rem + 38.0117vw, 15.625rem);
  line-height: 80%;
  letter-spacing: -5px;
}

.heading-lg {
  font-size: clamp(3rem, 0.1374rem + 12.2137vw, 6rem);
  line-height: 83.333%;
  letter-spacing: clamp(-0.125rem, -0.0495rem + -0.1088vw, -0.075rem);
}

.heading-md {
  font-size: clamp(3rem, 1.5687rem + 6.1069vw, 4.5rem);
  line-height: 88.889%;
  letter-spacing: -2px;
}

.heading-sm {
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: 0;
}

.btn--solid {
  display: inline-block;
  text-decoration: none;
  background-color: var(--button-background);
  color: var(--button-text);
  padding: 1.3em 1.8em;
  font-weight: 700;

  &:hover {
    background-color: var(--button-background-hover);
  }

  &:active {
    background-color: var(--button-background-active);
  }

  .arrow {
    margin-top: 0.25rem;
    margin-bottom: -0.25rem;
    margin-left: 1rem;

    g {
      stroke: var(--white);
    }
  }
}

.container {
  width: 85%;
  max-width: var(--container-max-width);
  margin: 0 auto;

  position: relative;
}

h1,
h2,
p,
a {
  position: relative;
  z-index: 3;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  min-height: 15rem;

  background-color: rgba(0, 0, 0, 0.35);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
/* Page Indicator */
.page-indicator {
  visibility: hidden;
  height: 0;
  position: absolute;
}

/* HEADER */
.nav-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

header {
  position: relative;
}

header > .container {
  padding: clamp(2rem, 1.2347rem + 3.2653vw, 3.5rem) 0; /*32px - 56px*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav.visible {
  visibility: visible;
  height: auto;
  top: 100%;
  right: 0;
  background-color: var(--very-light-grey);
  width: 91.5%;
  padding: 2.5rem 3rem;
  z-index: 1000;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav__item {
  font-weight: 700;
  cursor: pointer;
}

.nav__item a,
.footer-nav__item a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

/* HERO */
.hero,
.small-team {
  overflow: hidden;
}

.hero {
  padding: 6.875rem 0;
  color: var(--white);
  position: relative;

  background-image: url("src/assets/home/mobile/image-hero-paramour.jpg");
  background-color: rgba(0, 0, 0, 0.35);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;

  & > .container {
    position: static;
  }

  h1 {
    color: var(--white);
    margin-bottom: 0.25em;
    max-width: 10ch;
  }

  .btn--solid {
    margin-top: clamp(2.5625rem, 7.6923rem + -10.687vw, 5.1875rem);
    .arrow {
      visibility: hidden;
      height: 0;
      position: absolute;
    }
  }

  .slide-switcher {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
}

/* Welcome Section */
.welcome {
  margin: clamp(4.5rem, 3.352rem + 4.898vw, 6.75rem) 0;
}

.accent-rectangle {
  width: 4rem;
  height: 1px;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 4.25rem;
}

.welcome__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.welcome__title,
.welcome img {
  visibility: hidden;
  height: 0;
  position: absolute;
}

/* Small Team Section */

.small-team {
  background-image: url("src/assets/home/mobile/image-small-team.jpg");
  background-color: rgba(0, 0, 0, 0.35);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 11.25rem 0;
  position: relative;

  & > .container {
    position: static;
  }

  h2 {
    margin-bottom: 1.5rem;
    color: var(--white);
    max-width: 10ch;
  }
}

/* Featured Section */
.featured {
  margin: clamp(4.5625rem, 0.5128rem + 17.2789vw, 12.5rem) 0;

  .title-row {
    margin-bottom: clamp(2.75rem, 0.3049rem + 10.4326vw, 5.3125rem);
  }

  .btn--solid {
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
  }

  .title-row .btn--solid {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .card {
    h3 {
      margin-bottom: 0.25em;
      color: var(--white);
    }

    a {
      text-decoration: none;
      color: var(--white);
    }

    .number {
      visibility: hidden;
      height: 0;
      position: absolute;
    }

    &:nth-child(1) {
      background-image: url("assets/portfolio/mobile/image-del-sol.jpg");
    }

    &:nth-child(2) {
      background-image: url("assets/portfolio/mobile/image-228b.jpg");
    }

    &:nth-child(3) {
      background-image: url("assets/portfolio/mobile/image-prototype.jpg");
    }
  }
}

/* Footer */
footer {
  background-color: var(--very-light-grey);
  --logo-margin: 8rem;
  --margin-top-calc: calc(
    clamp(4.5625rem, 0.5128rem + 17.2789vw, 12.5rem) + var(--logo-margin)
  );
  margin-top: var(--margin-top-calc);
  padding-bottom: 6.125rem;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      margin-top: calc(var(--logo-margin) * -1);
      margin-bottom: 2rem;
      background-color: var(--very-dark-blue);
      width: auto;
      padding: 3rem 2rem;
      path {
        fill: var(--white);
      }
    }

    .footer-nav {
      margin-bottom: 2rem;
    }

    .nav__list {
      gap: 2rem;
    }

    .footer-nav__item {
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: var(--very-dark-blue);
      }
    }
  }
}

/* Portfolio */
.portfolio {
  .card {
  }
}

@media (max-width: 767px) {
  .nav__item {
    color: var(--very-dark-blue);
    font-size: 2rem;
    line-height: 125%;
    letter-spacing: 0;
  }
}

@media (min-width: 48rem) {
  .container {
    width: 75%;
  }

  .hero > .container,
  .small-team > .container {
    position: relative;
  }

  /* Page Indicator */
  .page-indicator {
    visibility: visible;
    height: auto;
    left: -225px;
    bottom: 0;
    rotate: 90deg;
    display: flex;
    align-items: center;
    gap: 3rem;

    .shape {
      width: 6.5rem;
      height: 1px;
      position: relative;
      border-bottom: 1px solid var(--light-grey);
    }

    .page-title {
      color: var(--light-grey);
      letter-spacing: 1.125rem;
    }
  }

  /* HEADER */
  header > .container {
    justify-content: flex-start;
    gap: clamp(5rem, 2.8947rem + 4.386vw, 5.9375rem);
  }

  .nav-toggle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .nav {
    visibility: visible;
    height: auto;
    position: relative;
  }

  .nav__list {
    flex-direction: row;
    gap: 3.8125rem;
  }

  .nav__item:hover {
    color: var(--very-dark-blue);
  }

  .nav__item {
    &.active {
      color: var(--very-dark-blue);
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 45%;
        bottom: -30%;
        width: 33%;
        height: 1px;
        border-bottom: 1px solid var(--very-dark-blue);
      }
    }
  }
  /* HERO */
  .hero,
  .small-team {
    padding: 0;
  }

  .hero {
    background-image: none;
    background-color: transparent;

    .container {
      background-image: url("src/assets/home/tablet/image-hero-paramour.jpg");
      background-color: rgba(0, 0, 0, 0.35);
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
      padding: 11.4rem clamp(3.625rem, -14.9013rem + 38.5965vw, 11.875rem);

      p {
        font-weight: 500;
        max-width: 44ch;
      }
    }

    .btn--solid {
      .arrow {
        visibility: visible;
        height: auto;
        position: relative;
      }
    }
  }

  /* Welcome */
  .accent-rectangle {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .welcome > .container {
    h2 {
      max-width: 10ch;
    }
  }

  .welcome__title {
    color: var(--very-light-grey);
    visibility: visible;
    height: auto;
    position: relative;
    font-weight: 700;
  }

  /* Small Team */
  .small-team {
    background-image: none;
    background-color: transparent;
    .container {
      background-image: url("src/assets/home/tablet/image-small-team.jpg");
      background-color: rgba(0, 0, 0, 0.35);
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: overlay;
      padding: 10.5rem clamp(3.625rem, -14.9013rem + 38.5965vw, 11.875rem);
    }
  }

  /* Featured */
  .featured {
    .title-row {
      margin-bottom: clamp(4rem, 8.2599rem + -6.1404vw, 5.3125rem);
    }

    .btn--solid {
      visibility: hidden;
      height: 0;
      position: absolute;
    }

    .title-row .btn--solid {
      visibility: visible;
      height: auto;
      position: relative;

      width: auto;
      text-align: start;
      margin: 0;
    }

    .title-row {
      display: flex;
      justify-content: space-between;
    }

    .card {
      position: relative;
      .number {
        visibility: visible;
        height: auto;
        top: 1.75rem;
        right: 2rem;
        color: var(--white);
        opacity: 0.5;
        font-size: 15.625rem;
        font-weight: 700;
      }
      &:nth-child(1) {
        background-image: url("assets/portfolio/tablet/image-del-sol.jpg");
      }

      &:nth-child(2) {
        background-image: url("assets/portfolio/tablet/image-228b.jpg");
      }

      &:nth-child(3) {
        background-image: url("assets/portfolio/tablet/image-prototype.jpg");
      }
    }
  }

  /* Footer */
  footer {
    margin-top: 0;
    padding-bottom: 0;
    background-color: transparent;

    .container {
      flex-direction: row;
      justify-content: space-between;
      .logo {
        margin: 0;
      }

      .footer-nav {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 48rem) and (max-width: 1023px) {
  footer {
    position: relative;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--very-light-grey);
      width: 80%;
      height: 100%;
      z-index: -1;
    }

    .container {
      width: 100%;
    }
  }
}

@media (min-width: 64rem) {
  .container {
    width: 85%;
  }

  .hero {
    .container {
      background-image: url("src/assets/home/desktop/image-hero-paramour.jpg");
    }
    .slide-switcher {
      visibility: visible;
      height: auto;
      bottom: 0;
      left: -80px;

      display: flex;

      .slide-indicator {
        color: var(--medium-grey);
        background-color: var(--white);
        border: none;
        height: 80px;
        width: 80px;
        place-content: center;
        text-align: center;
        cursor: pointer;
        font: inherit;
        font-weight: 700;

        &.active,
        &:active {
          background-color: var(--number-button-background-active);
          color: var(--white);
        }

        &:not(.active):hover {
          background-color: var(--number-button-background-hover);
        }
      }
    }
  }

  .small-team > .container {
    background-image: url("src/assets/home/desktop/image-small-team.jpg");
  }

  .welcome > .container {
    display: flex;
    flex-direction: column;
  }

  .welcome__title {
    margin-bottom: -2.25rem;
  }

  .welcome__text {
    h2 {
      margin-bottom: 0.375em;
    }

    p {
      max-width: 42ch;
    }
  }

  .welcome__content {
    margin-left: auto;
    display: flex;
    gap: 7.8125rem;
  }

  .welcome img {
    visibility: visible;
    height: auto;
    position: relative;
    margin-top: -4.625rem;
    z-index: -1;
  }

  /* Featured */
  .featured {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
    .card {
      min-height: 35rem;
      .number {
        right: -0.75rem;
      }
      &:nth-child(1) {
        background-image: url("assets/portfolio/desktop/image-del-sol.jpg");
      }

      &:nth-child(2) {
        background-image: url("assets/portfolio/desktop/image-228b.jpg");
      }

      &:nth-child(3) {
        background-image: url("assets/portfolio/desktop/image-prototype.jpg");
      }
    }
  }

  /* Footer */
  footer {
    position: relative;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--very-light-grey);
      width: 60%;
      max-width: calc(1440px * 0.6);
      height: 100%;
      z-index: -1;
      right: 0;
      margin: 0 auto;
    }
  }
}
